.auth-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    margin: 0 6px;
}

.auth-header__user-pic {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-size: contain;
    margin: 6px;
}

.auth-header__user-name {
    margin: 6px;
    white-space: nowrap;
}

.auth-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    width: 600px;
    margin: 100px auto;
}

.auth-main__partner-logo {
    height: 100px;
    margin: 16px;
}

.auth-main__project-description {
    text-align: center;
}
