.button {
  height: 22px;
  align-self: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  margin: 2px;
}

.button:hover {
  background-color: #eee;
  border-color: #ccc;
}

.button:active {
  background-color: #ddd;
  border-color: #ccc;
}

.button--add,
.button--remove,
.button--confirm {
  width: 22px;
}
