.configure-package {
    display: flex;
    flex-direction: column;
}

.configure-package__title {
    align-self: center;
}

.configure-package__tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tags-list {
    flex-basis: 60%;
    border-color: #ddd;
    border-style: solid;
    border-bottom-style: none;
    border-radius: .5rem;
    border-width: 1px;
    padding: 0px;
}

.tag-list__tag-item {
    list-style-type: none;
    border-color: #ddd;
    border-bottom-style: solid;
    border-width: 1px;
    padding: 10px;
}

.tag-list__tag-item--active {
    background-color: #b5b3b3;
}

.tag-list__tag-item-drop-target {
    background-color: #b5b3b3;
}

.tag-list__tag-item:hover {
    cursor: pointer;
    background-color: #b5b3b3;
}

.tag-responses {
    display: flex;
    flex-direction: column;
    border-color: #ddd;
    border-style: solid;
    border-radius: .5rem;
    border-width: 1px;
    margin-top: 14px;
    margin-left: 100px;
}

.tag-responses__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.tag-responses__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-y: scroll;
}

.tag-responses__items {
    flex-basis: 50%;
    padding: 0px 30px;
}

.tag-responses__item-row {
    position: relative;
}

.tag-responses__item-drag-handle {
    background-color: #ddd;
    width: 12px;
    height: 60px;
    position: absolute;
    top: 6px;
    right: 15px;
}

.tag-responses__item-drag-handle-0 {
    top: 20px;
}

.tag-responses__item-drag-handle:hover {
    cursor: grab;
}

.tag-responses__item-drag-handle--dragging {
    cursor: grabbing;
}

.tag-responses__item {
    overflow-y: scroll;
    min-width: 340px;
    min-height: 64px;
    border: 1px solid #ddd;
    border-radius: .5rem;
    padding: 2px;
}

.tag-responses__item:focus {
    outline-color: #ddd;
}

.add-tag-modal {
    width: 275px;
    position: absolute;
    margin: -35px 0px 0px 45px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: .5rem;
    background-color: #efefef;
}

.add-tag-modal__heading {
    margin: 0px 0px 6px 6px;
}

.add-tag-modal__dropdown {
    border-radius: .5rem;
    width: 100%;
}

.add-tag-modal__close-button {
    position: absolute;
    border: none;
    outline: none;
    bottom: 52px;
    right: -4px;
    background: none;
    font-size: .8rem;
}

.add-tag-modal__close-button:hover {
    cursor: pointer;
}

.add-button {
    margin: 5px;
    background-color: #a7a4a4;
    border: none;
    border-radius: 100%;
    outline: none;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    font-weight: bold;
}

.add-button:hover {
    cursor: pointer;
}
