.project-configuration {
  justify-self: center;
  width: 700px;
}

.configuration-form {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 20px;
}

.form-group {
  display: grid;
  grid-gap: 10px;
}

.form-group__label {
  margin-bottom: 10px;
  font-weight: 500;
  white-space: nowrap;
}

.form-group-item {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-left: 20px;
}

.form-group-item--shrink {
  grid-template-columns: 25px auto;
  margin: 0px;
}

.form-group-item--col4 {
  grid-template-columns: 3% 20% auto auto;
  grid-gap: 10px;
  margin: 0px;
}

.form-group-item__label {}

.form-group-item__value {}

.form-group-item__value--text {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c1c0c0;
  background-color: inherit;
}

.form-group-item__value:checked {
  background-color: red;
}

.form-group-item-action-remove {
  border: none;
  background: none;
  color: #499398;
  cursor: pointer;
}

.form-group-item-action-add {
  position: relative;
}

.form-group-item-action-add__icon {
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
  color: #499398;
}

.form-group-item-action-add__label {
  cursor: pointer;
  padding-left: 5px;
  color: #499398;
}

.add-language-dropdown {
  background-color: #f9f9f9;
  position: absolute;
  top: -4px;
  left: 155px;
  padding: 0px;
  border: 1px solid #ddd;
  min-width: 180px;
}

.add-language-dropdown__item {
  list-style-type: none;
  border-bottom: 1px solid #ddd;
  padding: 2px 4px;
  cursor: pointer;
}

.save-configuration-btn {
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  background-color: #499398;
  color: #ffffff;
  border: none;
  margin-top: 60px;
}
