.configure-package-view {
  display: grid;
  grid-template-columns: 20% auto;
}

.configure-package-sidebar {
  border-right: 1px solid #ddd;
}

.configure-package-sidebar__title {
  display: block;
  padding: 10px;
  border-bottom: 2px solid #ddd;
  font-size: 1.4em;
  font-weight: 400;
  color: #868383;
}

.selected-active-package-list {
  padding-left: 0px;
  margin-top: 0px;
}

.selected-active-package-list__item {
  display: grid;
  grid-template-columns: 30px auto;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px;
}

.selected-active-package-list__item--selected {
  background-color: #c0c1c1;
}

.selected-active-package-list__item:hover {
  cursor: pointer;
  background-color: #ddd;
}

.selected-active-package-list__item-state {
  width: 18px;
  height: 18px;
}

.selected-active-package-list__item-text {
  list-style-type: none;
  font-size: 1.15em;
  white-space: nowrap;
}

.configure-package-content {
  display: grid;
}

.configure-package-tags {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.configure-package-charts {
}

.configure-package-charts__chart {
  width: 400px;
}

.configure-package-actions {
}

.configure-package-actions__action {
  margin-left: 60px;
  color: #6ea9ac;
  text-decoration: none;
}

.conversation-tags {
}

.conversation-tags__text {
}

.conversation-tags__text--center {
  margin-left: 85px;
}

.conversation-tags__title {
}

.conversation-tags__sub-title {
  margin-left: 10px;
}

.conversation-tags__row {
  padding-bottom: 20px;
}

.tags {
  margin-left: 30px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags__actions {
  position: relative;
}

.tag {
  align-self: flex-start;
  line-height: 18px;
  border: 2px dotted #cacaca;
  border-radius: 3px;
  margin: 5px 10px 0px 0px;
  white-space: nowrap;
}

.tag__name {
  padding: 1px 4px;

}

.tag__remove-btn {
  padding: 1px 4px;
  border-left: 2px dotted #cacaca;
  cursor: pointer;
}

.tag__remove-btn:hover {
  background-color: #efefef;
}

.button-add-tag {
  align-self: flex-start;
  margin-top: 5px;
  position: relative;
}

.button-add-tag:hover {
  cursor: pointer;
}

.add-tag-dropdown {
  align-self: flex-start;
  background-color: #f9f9f9;
  position: absolute;
  top: 0px;
  left: 16px;
  padding: 0px;
  border: 1px solid #ddd;
  margin-left: 10px;
  margin-top: 5px;
  min-width: 180px;
  z-index: 1;
}

.add-tag-dropdown__item {
  list-style-type: none;
  border-bottom: 1px solid #ddd;
  padding: 2px 4px;
}

.add-tag-dropdown__item:hover {
  cursor: pointer;
}

.conversation-charts {
  display: grid;
  grid-template-rows: 90% auto;
}

.configure-package-responses{
  display: grid;
  grid-template-rows: auto auto;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.configure-package-responses-headers {
  display: flex;
  justify-content: space-between;
  padding-right: 185px;
}

.conversation-responses {}

.conversation-response {
  display: grid;
  grid-template-columns: 2% 35% 35% auto;
  grid-gap: 10px;
  position: relative;
  padding-left: 20px;
}

.conversation-response-language {
  display: grid;
}

.conversation-response-language__text {
  overflow-y: scroll;
  border: 1px solid #ddd;
  border-radius: .5rem;
  padding: 2px;
  min-height: 70px;
  margin-bottom: 0px;
}

.conversation-response-language__text--alert {
  border-color: #ff0000;
}

.conversation-response-language__text-count {
  justify-self: flex-end;
  font-size: 0.8em;
}

.conversation-response-language__text-count--alert {
  color: #ff0000;
}

.conversation-response__reviewed {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex-wrap: nowrap;
}

.conversation-response__reviewed-state {}

.conversation-response__reviewed-state:hover {
  cursor: pointer;
}

.conversation-response__reviewed-description {
  margin-top: 0px;
}

.button-remove-conversation-responses {
  height: 22px;
  width: 20px;
  align-self: center;
  border: none;
  background-color: #c0c1c1;
  border-radius: .5rem;
}

.button-remove-conversation-responses:hover {
  cursor: pointer;
}

.remove-conversation-responses-modal {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: .5rem;
}

.remove-conversation-responses-modal__message {
  justify-self: center;
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0px;
}

.remove-conversation-responses-modal-actions {
  justify-self: center;
}

.remove-conversation-responses-modal-actions__action {
  width: 50px;
  height: 25px;
  justify-self: center;
  margin-right: 20px;
}

.button-add-conversation-responses {
  margin-left: 20px;
}

.button-add-conversation-responses:hover {
  cursor: pointer;
}

.configure-package-labels {
  display: grid;
  padding-left: 20px;
  margin-bottom: 100px;
}
